<h1> My Github App </h1>

<form class="form-search">
  <div class="control-group">
    <label class="control-label" for="inputURL">Repository URL</label>
    <div class="controls">
      <input type="text" id="repositoryURL" class="input-medium search-query">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputStartDate">Start Date</label>
    <div class="controls">
      <input type="text" id="startDate" class="input-medium search-query">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputStartDate">End Date</label>
    <div class="controls">
      <input type="text" id="endDate" class="input-medium search-query">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Search</button>
    </div>
  </div>
</form>
